body {
	color: #333;
	font-size: .26rem;
}

.bgf8 {
	background: #f8f8f8;
}

.bgfa {
	background: #fafafa;
}
.bgfff{
	background: #fff;
}
.text-black {
	color: #333;
}

.text-grey {
	color: #999;
}

.text-green {
	color: #64a91a;
}

.text-red {
	color: #ca2131;
}

.align-right {
	text-align: right;
}

.ml10 {
	margin-left: .1rem;
}

.ml20 {
	margin-left: .2rem;
}

.mt20 {
	margin-top: .2rem;
}

.mt40 {
	margin-top: .4rem !important;
}

.mt80 {
	margin-top: .8rem;
}

.ft36 {
	font-size: .36rem;
}

.ft30 {
	font-size: .3rem;
}

.ft26 {
	font-size: .26rem;
}

.solids-bottom {
	border-bottom: 1px solid #cdcdcd;
}

.imgbox img {
	display: block;
	width: 100%;
}

.rebackheader {
	position: fixed;
	height: .95rem;
	left: 0;
	right: 0;
	top: 0;
	color: #222;
	font-size: .34rem;
	text-align: center;
	line-height: .95rem;
	z-index: 999;
	background-color: #fff;
}

.rebackheader .reback,
.rebackheader .search {
	position: absolute;
	height: .95rem;
	width: .78rem;
	background: url(../img/arrow.png) no-repeat center center;
	background-size: .18rem auto;

	top: 50%;
	transform: translateY(-50%);
}

.rebackheader .reback {
	left: 0;
}

.rebackheader .search {
	right: 0;
	background-image: url(../img/search2.png);
	background-size: .26rem auto;
}

.rebackheader.border {
	border-bottom: 1px solid #eee;
}

.rebackheader~.main {
	padding-top: .95rem;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: .94rem;
	background: #fff;
	padding: 0 .3rem;
	font-size: .28rem;
	z-index: 999;
	border-bottom: 1px solid #eee;
}

.header a {
	color: #0266af;
}

.header a.menu {
	height: .94rem;
	width: .36rem;
	background: url(../img/menu.png) no-repeat center center;
	background-size: .36rem auto;
	display: block;
	margin-left: .9rem;
}

.header a.menu.close {
	background-image: url(../img/close.png);

}

.header .logo,
.header .logo img {
	display: block;
	width: 2rem;
}

.header~.main {
	padding-top: .94rem;
}

.tabbarH {
	height: 1.1rem;
}

.tabbar {
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1.1rem;
	box-shadow: 0 -.01rem .1rem rgba(0, 0, 0, .1);
	z-index: 999;
}

.tabbar a {
	display: block;
	text-align: center;
	padding-top: .15rem;
	color: #999;
	font-size: .24rem;
}

.tabbar a.active {
	color: #0166ad;
}

.tabbar a i {
	display: block;
	height: .44rem;
	margin-bottom: .1rem;
	background: url(../img/tabbar/home.png) no-repeat center center;
}

.tabbar a i.icon1 {
	background-size: .44rem auto;
}

.tabbar a.active i.icon1 {
	background-image: url(../img/tabbar/home-cur.png);

}

.tabbar a i.icon2 {
	background-image: url(../img/tabbar/network.png);
	background-size: .46rem auto;
}

.tabbar a i.icon3 {
	background-image: url(../img/tabbar/study.png);
	background-size: .38rem auto;
}

.tabbar a i.icon4 {
	background-image: url(../img/tabbar/mine.png);
	background-size: .33rem auto;
}

.tabbar a.active i.icon4 {
	background-image: url(../img/tabbar/mine-cur.png);
}

.top {
	height: .8rem;
	width: .8rem;
	display: block;
	background: url(../img/top.png) no-repeat center center;
	background-size: .8rem auto;
	position: fixed;
	bottom: 1.5rem;
	right: .3rem;
	z-index: 9999
}

.menuView {
	position: fixed;
	top: .94rem;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 9999;
	display: none;
}

.menuView a {
	display: block;
	text-align: center;
	line-height: .7rem;
	font-size: .28rem;
	color: #000;
	position: relative;

}

.menuView a::after {
	content: '';
	display: block;
	height: 1px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #f0f0f0;
	position: absolute;
	transform: scaleY(-50%);
}

.menuView a.active {
	color: #0266af;

}

.banner {
	position: relative;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.banner img,
.banner a {
	display: block;
	width: 100%;
}

.banner .swiper-pagination {
	bottom: .95rem;
	left: 50%;
	transform: translateX(-50%)
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
	background: #fff;
	margin: 0 .1rem;
}

.banner .searchbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .3);
	padding: .09rem .3rem;
	z-index: 999
}

.banner .searchbar>div {
	background: #fff;
	border-radius: .05rem;
	border: 1px solid #eee;
	height: .68rem;
	padding: 0 .2rem;
	font-size: .28rem;
}

.banner .searchbar>div img {
	display: block;
	width: .34rem;

}

.banner .searchbar>div .classify {
	color: #333;
	width: 1.7rem;
	background: url(../img/arrow2.png) no-repeat 1.3rem center;
	background-size: .16rem auto;
}

.banner .searchbar>div .line {
	background: #eee;
	width: 1px;
	height: .38rem;
}

.banner .searchbar>div input {
	border: none;
	margin: 0 .25rem;

}

/* 分页 */
.pagination {
	text-align: center;
	margin: .1rem 0 0;
	padding-bottom: .55rem;
}

.pagination a,
.pagination span {
	text-align: center;
	width: .6rem;
	height: .6rem;
	display: inline-block;
	line-height: .6rem;
	font-size: .24rem;
	box-sizing: border-box;
	color: #999;
	vertical-align: middle;
	border: 1px solid transparent;
}

.pagination a.active {
	color: #e02627;
	border-color: #e02627;
}

.pagination a.prev,
.pagination a.next {
	background: url(../img/arrow3.png) no-repeat center center;
	background-size: .17rem auto;
	border-color: #cfcfcf;
}

.pagination a.prev {
	transform: scale(-1, 1);
}

/* 面包屑 */
.breadcrumbs {
	font-size: 13px;
	color: #333;
	padding: 0 .3rem;
	line-height: .8rem
}

.breadcrumbs a {
	color: #999;
}

/* 模块 */
.modbox {
	background: #fff;
}

.modbox .modbox-tab {
	padding: .15rem .3rem 0;
	font-size: .3rem;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

.modbox .modbox-tab.modbox-tab-lg {
	padding-top: .3rem
}

.modbox .modbox-tab a,
.modbox .modbox-tab span {
	color: #333;
	position: relative;
	padding: .15rem 0 .2rem;
	display: block;
	margin-right: .2rem;
	min-width: .7rem;
	text-align: center;
}

.modbox .modbox-tab.modbox-tab-lg a,
.modbox .modbox-tab.modbox-tab-lg span {
	margin-right: .45rem;
}

.modbox .modbox-tab a.active,
.modbox .modbox-tab a:hover {
	color: #096db0;
}

.modbox .modbox-tab a.active::after {
	content: '';
	display: block;
	height: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #096db0;
	position: absolute;

}

.modbox .modbox-tab .scrollview {
	overflow: scroll hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	position: relative;
	-webkit-overflow-scrolling: touch;
	max-height: inherit;
}

.cu-item {
	height: 45px;
	display: inline-block;
	line-height: 45px;
	margin: 0 5px;
	padding: 0 10px;
}

.modbox .modbox-tab .scrollview a {
	display: inline-block;
}

.modbox .modbox-tab+.modbox-tab {
	padding-top: 0;
}

/* modbox tabPanel */
.modbox .modbox-tabPanel {
	display: none;
}

/* tab */
.tab .tab-link {
	background: #fff;
	font-size: .26rem;
	color: #333;
	height: .82rem;
	padding: 0 .3rem;


}

.tab .tab-link a {
	position: relative;
	line-height: .82rem;
}

.tab .tab-link i {
	display: inline-block;
	width: 4em;
}

.tab .tab-link a.active::after {
	content: '';
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	background: #2076b2;
	height: .03rem;
}

/* 课程列表 */
/* 课程列表 */
.courselist {
	padding: 0 .3rem;

}

.courselist .item {
	padding: .35rem 0 .4rem;
	border-bottom: 1px solid #e6e6e6;
	color: #333;
	font-size: .26rem;

}

.courselist .item img {
	width: .29rem;
	margin-right: .1rem;
}

.courselist .item .num {
	width: .65rem;
	text-align: center;

}

.courselist .item .flex-1 {
	margin-right: .1rem;
}

.courselist .item .currentlen {
	width: 30%;
	text-align: left;
}

.courselist .item .btnlist {
	margin-top: .3rem;
}

.courselist .item .btnlist a,
.courselist .item .btnlist i {
	width: 2rem;
	display: block;
	text-align: center;
	margin-left: .1rem;
}

.courselist .item .btnlist a {
	border: 1px solid #b2b2b2;
	line-height: .5rem;
	border-radius: .05rem;
	color: #b2b2b2;
	font-size: .26rem;
}

.courselist .item .btnlist a.btn-red {
	color: #cb1f20;
	border-color: #cb1f20;
}

.courselist .item .btnlist a.btn-blue {
	color: #096bb4;
	border-color: #096bb4;
}

/* 弹出框 */
/* 弹出框 */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .4);
	z-index: 999;
	display: none;
}

.modal>div {
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

.modal .close {
	position: absolute;
	width: 26px;
	height: 26px;
	top: -32px;
	right: -32px;
	background: url(../img/close2.png);
}

.modal>div .modal-hd {
	color: #333;
	font-size: .3rem;
	text-align: center;
	line-height: .92rem;
	background: #f7f7f7;
	border-bottom: 1px solid #e5e5e5;
}

/* 通讯录 */
.addrbookmodal>div {
	text-align: left;
}


.addrbookmodal .search {
	border-bottom: 1px solid #e5e5e5;
	padding: 0 .3rem;
}

.addrbookmodal .search input {
	margin: .2rem 0;
	height: .76rem;
	border: 1px solid #e5e5e5;
	border-radius: 50px;
	display: block;
	width: 100%;
	text-indent: .7rem;
	line-height: .76rem;

}

.addrbookmodal .check {
	font-size: 13px;
}

.addrbookmodal .check i,
.addrbookmodal .check span {
	vertical-align: middle;
}

.addrbookmodal .check i {
	display: inline-block;
	height: 15px;
	width: 15px;
	background: url(../img/check.png) no-repeat center center;
	background-size: contain;
}

.addrbookmodal .check.active i {
	background-image: url(../img/curcheck.png);
}

.addrbookmodal .modal-bd {
	max-height: 50vh;
	overflow: hidden auto;
	padding: 0 .3rem .2rem;
	color: #333;
}

.addrbookmodal .modal-bd>ul>li>div {
	font-size: 15px;
	cursor: pointer;
	position: relative;
	padding-left: 20px;
	margin-top: 20px;
}

.addrbookmodal .modal-bd>ul>li>div::after {
	content: '';
	display: block;
	background: url(../img/arrow6.png) no-repeat center center;
	background-size: .26rem auto;
	position: absolute;
	left: 0;
	height: .26rem;
	width: .26rem;
	transition: all .3s;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;

}

.addrbookmodal .modal-bd>ul>li.open>div::after {
	transform: rotate(0deg);
	transform-origin: 50% 50%;
}

.addrbookmodal .modal-bd .stulist {
	padding: .35rem 0 0;
	display: none;
}

.addrbookmodal .modal-bd .open .stulist {
	display: block;
}

.addrbookmodal .modal-bd .stulist li {
	cursor: pointer;
	padding-left: .4rem;
	margin-bottom: .3rem;
}

.addrbookmodal .modal-bd .stulist img {
	border-radius: 100%;
	display: block;
	width: .38rem;
	margin-right: .4rem;
}

.addrbookmodal .modal-ft {
	border-top: 1px solid #929292;
}

.addrbookmodal .modal-ft a {
	display: block;
	height: .88rem;
	line-height: .88rem;
	text-align: center;
	background: #e6e6e6;
	font-size: .3rem;
	color: #333;
}

.addrbookmodal .modal-ft a+a {
	color: #fff;
	background: #c11d1e;
}

/* 支付弹出框 */
.paymodal.modal>div {
	border-top: 2px solid #e02627
}

.paymodal.modal>div .modal-hd {
	font-size: .36rem;
	background: #fff;

}

.paymodal.modal>div .modal-bd {
	padding: 0 .3rem 0;
}

.paymodal.modal>div .money {
	color: #e02627;
	font-size: .7rem;
	padding: 1rem 0
}

.paymodal.modal>div .payway .payway-item {
	text-align: left;
	font-size: .3rem;
	margin-bottom: .4rem;
}

.paymodal.modal>div .payway .payway-item i {
	width: .4rem;
	height: .4rem;
	display: block;
}

.paymodal.modal>div .payway .payway-item i.icon {
	margin-right: .13rem;
	background: url(../img/weixinpay.png) no-repeat center center;
	background-size: 100% auto;
}

.paymodal.modal>div .payway .payway-item i.icon-airpay {
	background-image: url(../img/airpay.png);
}

.paymodal.modal>div .payway .payway-item i.check {
	border: 1px solid #cdcdcd;
	border-radius: 100%;
	position: relative;
}

.paymodal.modal>div .payway .payway-item.active i.check::after {
	position: absolute;
	content: '';
	height: .2rem;
	width: .2rem;
	border-radius: 100%;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #e02627;
}

.paymodal.modal>div .modal-ft a {
	display: block;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	color: #fff;
	background-color: #e02627;
	font-size: .34rem;
}
