* {
	touch-action: pan-y;
}

.bgf8 {
	background: #f8f8f8;
}

.bgfa {
	background: #fafafa;
}

.text-black {
	color: #333;
}

.text-grey {
	color: #999;
}

.text-green {
	color: #64a91a;
}

.text-red {
	color: #ca2131;
}

.align-right {
	text-align: right;
}

.ml20 {
	margin-left: .2rem;
}

.mt20 {
	margin-top: .2rem;
}

.mt40 {
	margin-top: .4rem;
}

.mt80 {
	margin-top: .8rem;
}

.ft36 {
	font-size: .36rem;
}

.ft30 {
	font-size: .3rem;
}

.ft26 {
	font-size: .26rem;
}

.imgbox img {
	display: block;
	width: 100%;
}

.rebackheader {
	position: fixed;
	height: .95rem;
	left: 0;
	right: 0;
	top: 0;
	color: #222;
	font-size: .34rem;
	text-align: center;
	line-height: .95rem;
	z-index: 999;
	background-color: #fff;
}

.rebackheader .reback,
.rebackheader .search {
	position: absolute;
	height: .95rem;
	width: .78rem;
	background: url(../img/arrow.png) no-repeat center center;
	background-size: .18rem auto;

	top: 50%;
	transform: translateY(-50%);
}

.rebackheader .reback {
	left: 0;
}

.rebackheader .search {
	right: 0;
	background-image: url(../img/search2.png);
	background-size: .26rem auto;
}

.rebackheader.border {
	border-bottom: 1px solid #eee;
}

.rebackheader~.main {
	padding-top: .95rem;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: .94rem;
	background: #fff;
	padding: 0 .3rem;
	font-size: .28rem;
	z-index: 999;
	border-bottom: 1px solid #eee;
}

.header a {
	color: #0266af;
}

.header a.menu {
	height: .94rem;
	width: .36rem;
	background: url(../img/menu.png) no-repeat center center;
	background-size: .36rem auto;
	display: block;
	margin-left: .9rem;
}

.header a.menu.close {
	background-image: url(../img/close.png);

}

.header .logo,
.header .logo img {
	display: block;
	width: 2rem;
}

.header~.main {
	padding-top: .94rem;
}

.tabbarH {
	height: 1.1rem;
}

.tabbar {
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1.1rem;
	box-shadow: 0 -.01rem .1rem rgba(0, 0, 0, .1);
	z-index: 999;
}

.tabbar a {
	display: block;
	text-align: center;
	padding-top: .15rem;
	color: #999;
	font-size: .24rem;
}

.tabbar a.active {
	color: #0166ad;
}

.tabbar a i {
	display: block;
	height: .44rem;
	margin-bottom: .1rem;
	background: url(../img/tabbar/home.png) no-repeat center center;
}

.tabbar a i.icon1 {
	background-size: .44rem auto;
}

.tabbar a.active i.icon1 {
	background-image: url(../img/tabbar/home-cur.png);

}

.tabbar a i.icon2 {
	background-image: url(../img/tabbar/network.png);
	background-size: .46rem auto;
}

.tabbar a i.icon3 {
	background-image: url(../img/tabbar/study.png);
	background-size: .38rem auto;
}

.tabbar a i.icon4 {
	background-image: url(../img/tabbar/mine.png);
	background-size: .33rem auto;
}

.tabbar a.active i.icon4 {
	background-image: url(../img/tabbar/mine-cur.png);
}

.top {
	height: .8rem;
	width: .8rem;
	display: block;
	background: url(../img/top.png) no-repeat center center;
	background-size: .8rem auto;
	position: fixed;
	bottom: 1.5rem;
	right: .3rem;
	z-index: 9999
}

.menuView {
	position: fixed;
	top: .94rem;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 9999;
	display: none;
}

.menuView a {
	display: block;
	text-align: center;
	line-height: .7rem;
	font-size: .28rem;
	color: #000;
	position: relative;

}

.menuView a::after {
	content: '';
	display: block;
	height: 1px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #f0f0f0;
	position: absolute;
	transform: scaleY(-50%);
}

.menuView a.active {
	color: #0266af;

}

.banner {
	position: relative;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.banner .swiper-container img {
	display: block;
	width: 100%;
}

.banner .swiper-pagination {
	bottom: .95rem;
	left: 50%;
	transform: translateX(-50%)
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
	background: #fff;
	margin: 0 .1rem;
}

.banner .searchbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .3);
	padding: .09rem .3rem;
	z-index: 999
}

.banner .searchbar>div {
	background: #fff;
	border-radius: .05rem;
	border: 1px solid #eee;
	height: .68rem;
	padding: 0 .2rem;
	font-size: .28rem;
}

.banner .searchbar>div img {
	display: block;
	width: .34rem;

}

.banner .searchbar>div .classify {
	color: #333;
	width: 1.7rem;
	background: url(../img/arrow2.png) no-repeat 1.3rem center;
	background-size: .16rem auto;
}

.banner .searchbar>div .line {
	background: #eee;
	width: 1px;
	height: .38rem;
}

.banner .searchbar>div input {
	border: none;
	margin: 0 .25rem;

}

/* 分页 */
.pagination {
	text-align: center;
	margin: .1rem 0 0;
	padding-bottom: .55rem;
}

.pagination a,
.pagination span {
	text-align: center;
	width: .6rem;
	height: .6rem;
	display: inline-block;
	line-height: .6rem;
	font-size: .24rem;
	box-sizing: border-box;
	color: #999;
	vertical-align: middle;
	border: 1px solid transparent;
}

.pagination a.active {
	color: #e02627;
	border-color: #e02627;
}

.pagination a.prev,
.pagination a.next {
	background: url(../img/arrow3.png) no-repeat center center;
	background-size: .17rem auto;
	border-color: #cfcfcf;
}

.pagination a.prev {
	transform: scale(-1, 1);
}

/* 面包屑 */
.breadcrumbs {
	font-size: 13px;
	color: #333;
	padding: 0 .3rem;
	line-height: .8rem
}

.breadcrumbs a {
	color: #999;
}

/* 模块 */
.modbox {
	background: #fff;
}

.modbox .modbox-tab {
	padding: .1rem .3rem 0;
	font-size: .3rem;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

.modbox .modbox-tab a,
.modbox .modbox-tab span {
	color: #333;
	position: relative;
	padding: .15rem 0 .2rem;
	display: block;
	margin-right: .2rem;
	min-width: .7rem;
	text-align: center;
}

.modbox .modbox-tab a.active,
.modbox .modbox-tab a:hover {
	color: #096db0;
}

.modbox .modbox-tab a.active::after {
	content: '';
	display: block;
	height: 2px;
	left: 0;
	right: 0;
	bottom: -1px;
	background: #096db0;
	position: absolute;

}

.modbox .modbox-tab+.modbox-tab {
	padding-top: 0;
}

/* modbox tabPanel */
.modbox .modbox-tabPanel {
	display: none;
}
