.banner {
	position: relative;
}

.banner>img {
	display: block;
	width: 100%;
}

.banner .searchbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .3);
	padding: .09rem .3rem;
}

.banner .searchbar>div {
	background: #fff;
	border-radius: .05rem;
	border: 1px solid #eee;
	height: .68rem;
	padding: 0 .2rem;
	font-size: .28rem;
}

.banner .searchbar>div img {
	display: block;
	width: .34rem;

}

.banner .searchbar>div .classify {
	color: #333;
	width: 1.7rem;
	background: url(../img/arrow2.png) no-repeat 1.3rem center;
	background-size: .16rem auto;
}

.banner .searchbar>div .line {
	background: #eee;
	width: 1px;
	height: .38rem;
}

.banner .searchbar>div input {
	border: none;
	margin: 0 .25rem;

}

.coursebox {
	padding: .55rem .3rem 0;
	font-size: .26rem;
	color: #333;
}

.coursebox .coursebox-hd a {
	color: #999;
}

.coursebox .coursebox-hd>div {
	font-size: .4rem;

}

.coursebox .coursemenu {
	margin-top: .35rem;
}

.coursebox .coursemenu a {
	color: #333;
}

.coursebox .coursemenu a.active {
	color: #0166ad;
}

.coursebox .booklist {
	margin-top: .4rem;
	margin-bottom: .3rem;
}

.coursebox .booklist .book-item {
	width: 2.02rem;
	background: #fff;
	padding: .12rem;
	box-shadow: 0 0 .2rem rgba(0, 0, 0, .2);
}

.coursebox .booklist .book-item img {
	display: block;
	width: 100%;
}

.coursebox .booklist i {
	width: 2.02rem;
}

.txtlist .txt-item {
	color: #333;
	font-size: .26rem;
	padding: .15rem .2rem;
	border-bottom: 1px solid #e1e1e1;
	display: block;
	position: relative;
}

.txtlist .txt-item::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	border-radius: 100%;
	height: .06rem;
	width: .06rem;
	background: #8d8d8d;
	top: 50%;
	transform: translateY(-50%);
}

.txtlist .txt-item:active {
	color: #0167ab;
}

.txtlist .txt-item:active::before {
	background: #0167ab;
}

.txtlist .txt-item .tag img {
	width: .4rem;
}

.coursetab {
	margin-top: .6rem;

}

.coursetab .tab-link {
	border-bottom: 1px solid #dadada;
	padding: 0 .3rem;
}

.coursetab .tab-link a {
	color: #333;
	font-size: .3rem;
	padding: .2rem .1rem;
	display: block;
}

.coursetab .tab-link a+a {
	margin-left: .3rem;
}

.coursetab .tab-link a.active {
	color: #0167ab;
	position: relative;
}

.coursetab .tab-link a.active::before,
.coursetab .tab-link a.active::after {
	content: '';
	display: block;
	position: absolute;
}

.coursetab .tab-link a.active::before {
	height: .03rem;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0167ab;
}

.coursetab .tab-link a.active::after {
	height: 0;
	width: 0;
	border: .1rem solid transparent;
	border-top-color: #0167ab;
	bottom: -.17rem;
	left: 50%;
	transform: translateX(-50%);
}

.coursetab .txtlist {
	margin: .25rem .3rem 0;
}

/* 资深团队深耕教研 */
.teambox {
	background: #fff;
	margin-top: .7rem;
	padding: .6rem .3rem 0;
}

.teambox .teambox-hd {
	text-align: center;
	font-size: .4rem;
	color: #333;
}

.teambox .teambox-hd .subtitle {
	font-size: .26rem;
	color: #666;
	position: relative;
	margin-top: .35rem;
}

.teambox .teambox-hd .subtitle::before,
.teambox .teambox-hd .subtitle::after {
	content: '';
	display: block;
	height: .18rem;
	width: .46rem;
	background: url(../img/subtitle2.png) no-repeat center center;
	background-size: .46rem auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.teambox .teambox-hd .subtitle::before {
	left: 1.37rem;
}

.teambox .teambox-hd .subtitle::after {
	background-image: url(../img/subtitle1.png);
	right: 1.37rem;
}

.teambox .teamlist {
	margin-top: .5rem;
}

.teambox .teamlist .team-item {
	margin: 0 0 .24rem;
	padding: .1rem;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	box-sizing: border-box;
	font-size: .22rem;
	line-height: .34rem;
	color: #b3b3b3;
}

.teambox .teamlist .team-item .imgbox {
	width: 1.9rem;
	border-radius: 4px;
	overflow: hidden;
	margin-right: .2rem;
}

.teambox .teamlist .team-item .name {
	padding-top: .15rem;
	color: #0167ab;
	font-size: .28rem;
	margin-bottom: .1rem;
}

.teambox .teamlist .team-item .info {
	color: #666;
	margin-top: .1rem;
	padding-top: .1rem;
	border-top: 1px solid #e6e6e6;
	overflow: hidden;
}

.teambox .more {
	color: #0166ad;
	font-size: .18rem;
	width: 2rem;
	display: block;
	line-height: .5rem;
	border: 1px solid #0166ad;
	border-radius: .08rem;
	text-align: center;
	margin: .35rem auto;
}
